
/* For All Screens */
@media screen {
    body {  background-image: url(../img/jr1.jpg);  }
    li { padding:1vmin; }
    .grid-item {
        padding: 3vmin;
        transition: ease 0.5s;
    }

    .grid-item {
        color: #25245D;
        background-color: white;
 
    }
    .grid-container {
        display: flex;
        margin: 2vmin;
        align-items: center;
        flex-direction: column;
    }

    .grid-text p {
        text-align: justify;
    }

    .grid-text {
        width: 80%;
        padding: 4vmin;
        text-align: center;
    }  
    .grid-text ul { list-style-type: none; }

}

/*  For all mobile screens */
@media screen and (max-width: 820px) {
    .grid-item { margin: 4vh 2vw; }
}

/*  For all mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {
    .grid-text {
        width: 90%;
    }  

}

/*  For all mobile screens in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape){

}

/* For all desktop */
@media screen and (min-width: 820px) {


    .grid-item-3 {
        grid-column-start: 1;
        grid-column-end: -1;
        font-size: 0.8em;
    }

    .grid-pic {
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        background-position: center;
    }

    .grid-pic-1 { background-image: url(../img/about_5.jpg); }

}

/* For all hovering capable screens */
@media (hover: hover) {
    .grid-item-1:hover ~ .grid-pic-1 {
        background-image: url(../img/about_3.jpg);
        background-size: cover;
    }
}