/* For All Screens */
@media screen {
    .grid-item { 
        opacity: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: hidden;
    }    
    /* Background images for each grid */
    .grid-item-1 { background-image: url(../img/history.jpg); }
    .grid-item-2 { background-image: url(../img/about_2.jpg); }
    .grid-item-6 { background-image: url(../img/p3.png); }


    .grid-item img {
        width: 100%;
        margin: 0;
        overflow-y: hidden;
    }
    .caption { opacity: 80%; }
    .NewLearn { display: none; }

}

/*  For all mobile screens */
@media screen and (max-width: 820px) {
    .grid-container {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .grid-item { margin: 2vh 4vw; }
}

/*  For all mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {
    /* no content atm */
}

/*  For all mobile screens in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape){
    .grid-container { grid-auto-columns: 80vw; }
    .caption-3, .caption-4, .caption-5 { margin: 15vh 0; }
}

/* For all desktop */
@media screen and (min-width: 820px) {
    a { color:#25245D; }

    .grid-container {
        padding: 16px 12px 12px 12px;
        grid-gap: 20px;
        grid-template-columns: 0.48fr 0.48fr;
        grid-auto-rows: 60vh;
        font-size: 0.9em;
    }
  
    .caption {  margin: 0; }
    .readmore { padding-left: 30vw; }
    .NewLearn { text-align: right;  }
    .caption-3, .caption-4, .caption-5 { opacity: 0% !important; }
    .caption-2 p { margin: 1vh 5vw; }
}

/* For all hovering capable screens */
@media (hover: hover) {
    .caption { opacity: 0%; };
}
