.grid-item { opacity: 100%; }

body { background-image: url("../img/officials_bg.JPG"); }

.grid-mid { background-color: rgb(90, 225, 255); }

@media screen and (min-width: 700px) {
  .grid-container {
      font-size: 0.8em;
      text-align: center;
      grid-template-columns: 0.20fr 0.75fr;
      margin:1vmin;
      grid-gap: 2vmin;
      justify-self: middle;
  }

  .grid-item:not(.grid-item-0) { padding: 10px;}

  .grid-left {
      grid-column-start: 1;
      grid-column-end: 2;
      background:none;
      text-align: left;
      padding: 0;
  }

  .grid-mid {
      grid-column-start: 2;
      grid-column-end: 3;
      font-size: 1.05em;
      padding-left: 5vw;
      padding-right: 5vw;
      text-align: justify;
      color:#25245D;
  }

  .left-item {
      font-size: 0.8em;
      padding-right: 1vw;
  }

  .left-grid {
      background-color: #25245D;
      display: grid;
      grid-gap: 3vmin;
      padding: 2vh 1vw;
      border-radius: 13px;
  }

  .left-grid li { cursor: pointer; }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .flex-col {
    display: flex;
    margin: 1vh 1vw;
    flex-direction: column;
    width:25%;
    flex-grow: 0;
  }
}

  .current { color:yellow; }

  .card {  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    background-color: lightgray;
  }
  
  .card-container {
    padding: 0 16px;
    text-align:center;
    font-size: 0.7em;

  }

  .card-container h4 {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .card-title { 
    color: grey; 
    font-family:Georgia;
    font-style: italic;
  }

/* mobile version */
@media screen and (max-width: 700px) {

  .grid-container { grid-template-columns: 0.75fr; }

  .left-grid { 
    text-align: center;
    padding: 0;
  }

  .left-grid > * { padding: 1vh 0; }
  .flex-col { font-size:1.2em; }
  .content {
     opacity: 80%;
     background: none;
    }
  .card {
    position: relative;
    right: -25%;
    width: 50%;
    }
  .card p { padding-bottom: 1vh; }
}