
/* For All Screens */
@media screen {
    .grid-item { 
        padding: 0;
        opacity: 100%;
    }
    .grid-item img { width: 100%; }
    img { 
        border-radius: 8px;
        margin: 0;
        object-fit: contain;
    }
    
    .grid-item-4 {
        height: max-content !important;
        background-color: skyblue;
    }

    /* Formatting of downloadable forms */
    .flex-container { flex-direction: column; margin-left: 10%; }
    li { margin: 2vh 0; }
    li:hover { text-decoration: underline; }
    li a { color: #25245D; }

}

/*  For all mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {

    body > *:not(#orientation-msg) { display: none; }
    #orientation-msg img { width: 100%; }
    #orientation-msg {
        height: 100%;
        width: 100%;
        text-align: center;
    }


}

/*  For all mobile screens in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape){
    .grid-item-4 { font-size: 1.1em; }
    .grid-container {
        grid-template-columns: 0.8fr;
        grid-auto-rows: auto;
    }
}

/* For all desktop */
@media screen and (min-width: 820px) {
    .grid-container {
        grid-template-columns: 0.7fr;
        grid-auto-rows: auto;
    }
}

/* For Desktop and landscape oriented mobile screens */
@media screen and (min-width: 820px), (max-width: 820px) and (orientation: landscape ) {
    #orientation-msg { display: none; }
    .grid-item-0 {
        display: flex;
        justify-content: center;
        margin: 4vh 25vw;
    }
}

/* For all hovering capable screens */
@media (hover: hover) { .grid-item { cursor: pointer; } }