
.grid-item {
  background-size: contain;
  opacity: 100%;
  margin: 2vh 0;
}

.grid-item img { width: 100%; }

.caption { opacity: 80%; }
.grid-item {
  opacity: 90%;
}

@media screen and (min-width: 700px) {
  .grid-container {
    grid-template-columns: 0.7fr;
    grid-auto-rows: 85vh;
    font-size: 0.9em;
    text-align: center;
  }
  
  .grid-item {
    padding: 4px 2px 4px 2px;
    cursor: pointer;
  }
}