#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    z-index: 99;
    border: none;
    outline: none; 
    cursor: pointer;
    background: wheat;
    border-radius: 50%;
    font-size: 1em;
  }

@media screen and (min-width: 700px) {
  #toTop {
    opacity: 60%;
    padding: 15px;
    right: 2vw;
  }
}

@media screen and (max-width: 700px) {
  #toTop {
    opacity: 80%;
    right: 1vw;
    padding:10px;
  }
}

@media (hover: hover) {
  #toTop:hover { opacity: 100%; }
}