.grid-container {
    margin-left: 2vmin;
    display: grid;
    padding: 16px 12px 12px 12px;
    grid-gap: 20px;
    grid-template-columns: 0.6fr 0.3fr;
    grid-auto-rows: 70vh;
    justify-content: center;
  }

  .sc-vid {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .sc-pic {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
