  .grid-item { opacity: 100%;}

  .caption {
    opacity: 80%;
    margin: 4vh 0;
    font-size: 1em;
    padding: 1vh 2vw;
  }

@media screen {
  .readmore { padding-left: 20vw; }

  .caption { margin: 9vh 0; }

  .caption-3{ font-size: 1em; }

  .grid-item {
    background-repeat: no-repeat;
    background-position:center;
  }
  
  .grid-item-2 { background-image: url(../img/sc_1.JPG); }
  .grid-item-3 { background-image: url(../img/alumni1.jpg); }  
  .grid-item-4 { background-image: url(../img/); }
}



@media screen and (max-width: 700px) and (orientation: landscape) {

}

@media screen and (min-width: 700px) {
  body { 
    background-image: url("../img/history_2.jpg");
    background-size: 125%; 
    background-position-y: 20%;
    background-position-x: 100%;
  }

  .grid-container {
    padding: 3vh 2vw;
    grid-template-columns: 65vw;
  }

}
