@media screen and (min-width: 700px) {
  body { 
    background-image: url("../img/history_2.jpg");
    background-size: 125%; 
    background-position-y: 20%;
    background-position-x: 100%;
  }

}

.grid-container {
    margin-left: 2vmin;
    padding: 16px 12px 12px 12px;
    grid-template-columns: 70vw;
  }

.grid-item {
  background-repeat: no-repeat;
  background-position:center;
}

/* .grid-item-1 {
  background-image: url(../img/announcement1.jpg);
  background-size: contain;
}   */

.grid-item-2 { background-image: url(../img/sc_1.JPG); }

.grid-item-3 {
  background-image: url(../img/alumni1.jpg);
  transition: 0.5s;
}

.grid-item-4 { background-image: url(../img/); }

.readmore { padding-left: 20vw; }

.caption { margin: 8vh 0; }

.caption-3{ font-size: 1em; }

@media screen and (min-width: 700px) {
  .grid-item-1 { height: 70vh; }
}
@media screen and (max-width: 700px) {
  .grid-item { opacity: 100%;}

  .caption {
    opacity: 80%;
    margin: 4vh 0;
    font-size: 1em;
    padding: 1vh 2vw;
  }
}