/* For All Screens */
@media screen {
  #navbar {
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 600;
    font-size: 2vw;
    overflow-x: hidden;
    margin: -1vh 0 4vh;
    overflow-y: visible;
    background-color: #25245D;
    }
      
  .nav-item {
    float: left;
    display: inline;
    color: #f2f2f2;
    transition: 0.3s;
    padding: 2vh 1vw;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica;
    overflow: visible;
  }
  
  .nav-active {
    color: #25245D;
    background-color: lightskyblue;
  }
  .dropdown-content a:visited { color: inherit; }
  .content { padding: 16px; }

  .first { margin-top: 10vh !important; }

}

/*  For all mobile screens */
@media screen and (max-width: 820px) {
  #navbar { display: none; }
  body > :nth-child(7) { margin-top: 10vh; }
  #mobilenav {
    top:0;
    width: 100%;
    z-index: 700;
    font-size: 1em;
    display: block;
    position: fixed;
    overflow: hidden;
    background-color: #25245D;
  }

  #mobilenav #myLinks { display: none; }
  #mobilenav a {
    color: white;
    display: block;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
  }

  #mobilenav a.icon {
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    background-color: #25245D;
  }

  .nav-item {
    padding: 5px;
    font-size: 0.6em;
    margin-right: 5px;
  }
}

/*  For all mobile screens in portrait mode */
@media screen and (max-width: 820px) and (orientation: portrait) {

}

/*  For all mobile screens in landscape mode*/
@media screen and (max-width: 820px) and (orientation: landscape){
  .first {
    margin-top: 25vh !important;
  }
}

/* For all desktop */
@media screen and (min-width: 820px) {
  #mobilenav { display: none; }
  .sticky {
    top: 0;
    position: fixed;
    width: 100%;
  }
    
  /* Add some top padding to the page content to prevent sudden quick movement */
  .nav-item > * { color: white; }
  
  .nav-dropdwn {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-content {
    z-index: 100;
    display: none;
    color:#25245D;
    font-size: 0.8em;
    text-align: left;
    margin-top: 15px;
    position:absolute;
    background-color: white;
    transform: translateX(-4%);
    -ms-transform: translateX(-4%);
  }
  
  .sticky .dropdown-content { position:fixed; }
  .dropdown-content a { padding: 1vh 1vw; }
  
  .list-item {
    display: block;
    padding: 2vh 2vw;
  }
}

/* For all hovering capable screens */
@media (hover: hover) {
  .nav-item:hover:not(#smc) {
    background-color:lightgray;
    color: #25245D;
  }
  
  .nav-dropdwn:hover .dropdown-content { display: block;}
  .nav-item:hover:not(#smc) > * { color: #25245D; } 
  .list-item:hover { background-color: wheat; };  
  #mobilenav a:hover {
    background-color: #ddd;
    color: black;
  }
}