a { text-decoration:none; }

body {
    background-color: lightgray;
    margin:0;
    padding:0;
    font-family: arial;
    font-size: 1.8em;
    background-position-x: middle;
    background-attachment: fixed;
    background-size: cover;
}

#header-art {
    width: 100%;
    overflow: hidden;
}

.grid-container { 
  display: grid;
  justify-content: center;
  row-gap: 9vh;
  column-gap: 4vw;
}

.grid-item {
  background-color:#25245D;
  border-radius: 10px;
  color: white;
  transition: 0.6s;
  opacity: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

.gridtitle { 
  display:block; 
  background-color: white;
  color: #25245D;
  padding: 1vmin;
  margin:0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  opacity: 100%;
}

.grid-item > * { 
  transition: 0.6s;
  opacity: 100%; 
}

.flex-container { display: flex; }

.readmore { font-size: 0.6em; }

.caption {
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: relative;
  background-color:lightgray;
  border-radius: 8px;
  color: #25245D;
  text-align: center;
  font-size: 1.2em;
  opacity: 0%;
  margin: 8vh 0;
}

.grid-item-0 {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
  padding: 0 5vw;
}

li:hover:not(.left-item) { color: red; }

.content { display: none; }

.show-content { display: block; }

@media (hover: hover) {
  .grid-item:hover { opacity: 100%; }
  .grid-item:hover > .caption{ opacity: 80%; } /* Transparent text box effect */
}

@media screen and (min-width: 700px) {
  /* Fix for bug in mobile version */
  #header-art {  height: 40vh; }
  .mobile-learn { display: none; }
}

@media screen and (max-width: 700px) {
  .mobile-learn { display:block; }
  .readmore { display: none;}
}